*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
data/test_images/318e97d070a64117b5f0e11d1b400ac0_sw-3598_sh-2864.png filter=lfs diff=lfs merge=lfs -text
data/test_images/55da4620b6a543a0b8911f6e3b3556e5_sw-2924_sh-2924.png filter=lfs diff=lfs merge=lfs -text
data/test_images/7ca2d0a2badf40c0a3ecbc11b1b9d9b7_sw-3568_sh-2873.png filter=lfs diff=lfs merge=lfs -text
data/test_images/b05f56198e124b0b939a4833124ed120_sw-3032_sh-3084.png filter=lfs diff=lfs merge=lfs -text
data/test_images/c963c33c399d4591ad9184f62c40d595_sw-4751_sh-4794.png filter=lfs diff=lfs merge=lfs -text
model/art-recognizer-v1.pk1 filter=lfs diff=lfs merge=lfs -text
data/test_images/60c0bc4a8f8c4c7b823a2e521e9e92f1_sw-1280_sh-1277.png filter=lfs diff=lfs merge=lfs -text
data/test_images/6fbb1f7dd9a14dfc904ccdcdf38585cf_sw-4854_sh-6327.png filter=lfs diff=lfs merge=lfs -text
data/test_images/a23cb16bb7d74c6ca0f82425dff83038_sw-2404_sh-3226.png filter=lfs diff=lfs merge=lfs -text
data/test_images/a3f0f15b5f8b4a81ab7b43ce7a7f010f_sw-1735_sh-2018.png filter=lfs diff=lfs merge=lfs -text
data/test_images/c356a06a48b8433a8849423baf100d76_sw-2189_sh-3349.png filter=lfs diff=lfs merge=lfs -text
data/test_images/e1f7a31e434044138da27d13ba04a287_sw-1280_sh-1280.png filter=lfs diff=lfs merge=lfs -text
data/test_images/f97cb2052a80438eb1de81c81556f101_sw-3221_sh-4307.png filter=lfs diff=lfs merge=lfs -text
